/questions.txt
/snemo_run-1166_udd.root
/tracks.root
/tracks_sample.root
totalspectrum.pdf
spectrum_123.png
AutoDict_vector_vector_int____cxx_ACLiC_dict_rdict.pcm
AutoDict_vector_vector_int____cxx.d
AutoDict_vector_vector_int____cxx.so
AutoDict_vector_vector_int___.cxx
sndisplay-master/sndisplay.cc
sndisplay-master/README.md
sndisplay-master/sndisplay-calorimeter-test.png
sndisplay-master/sndisplay-demonstrator-test.png
sndisplay-master/sndisplay-tracker-test.png
AutoDict_vector_vector_int___cxx_ACLiC_dict_rdict.pcm
AutoDict_vector_vector_int___cxx.d
AutoDict_vector_vector_int___cxx.so
AutoDict_vector_vector_int__.cxx
sndisplay.cc
mytestevent.png
images/chargehist.png
images/mytestevent_99.png
AutoDict_vector_vector_long____cxx_ACLiC_dict_rdict.pcm
AutoDict_vector_vector_long____cxx.d
AutoDict_vector_vector_long____cxx.so
AutoDict_vector_vector_long___.cxx
AutoDict_vector_vector_long___cxx_ACLiC_dict_rdict.pcm
AutoDict_vector_vector_long___cxx.d
AutoDict_vector_vector_long___cxx.so
AutoDict_vector_vector_long__.cxx
images/delta_t_hist.root
images/delta_t_logy.pdf
images/delta_t_no10factor.pdf
images/delta_t_wholething.pdf
e_gamma_events.root
e_gamma_events - Copy.root:Zone.Identifier
e_gamma_events_sample.root
cuts.txt
e_gamma_events_sample2.root
e_gamma_events_good.root
tracks - Copy.root:Zone.Identifier
tracks_allwalls.root
event3228.png
event19290.png
event24891.png
event31078.png
event78309.png
event78825.png
full_event3228.png
full_event19290.png
full_event24891.png
full_event31078.png
full_event78309.png
full_event78825.png
tracks_full.root
zpositions.root
e_gamma_events.txt
zpositions_new_eq.root
e_gamma_events.txt
events/
reportdraft/
images/
simulation/Falaise_UDD_5_1_2.root
Falaise_UDD_5_1_2.root
tracks_SIM.root
simulation/tracks.root
e_gamma_events.txt
SIM_event10.png
SIM_event2232.png
SIM_event8387.png
snemo_run-1093_udd.root
e_gamma_events.txt
e_gamma_events.txt
tracker_activity.txt
tracker_activity.txt:Zone.Identifier
1093/tracker_activity.txt
1093/tracks.root
SIM/cuts_SIM.txt
SIM/e_gamma_events_SIM.txt
